<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
       

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/sb-admin.css" rel="stylesheet">
</head>

<body id="bg-dark">
	<div class="container">
		<div class="card card-login mx-auto st-5">
			<div class="card-header">Login</div>
			<div class="card-body ">
				<form th:action="@{/login}" method="post">
					<div th:if="${param.error}">
						<div class="alert alert-danger">
							Invalid username or password.
						</div>
					</div>
					
					<label for="username">Email</label>		
					<div class="form-group">							
					<input name="username"
							id="username"
							type="text"
							required
							autocomplete="off"
							placeholder="Please enter username"/>					
					</div>
					
					<label for="password">Password</label>	
					<div class="form-group">
					<input name="password"
							id="password"
							type="text"
							required
							autocomplete="off"
							placeholder="Please enter password"/>					
					</div>
					<!-- a class="btn btn-primary" name="login-submit" id="login-submit" type="submit">Login</a-->
					<input type="submit" value="Log in" />
				</form>
			</div>
		</div>
		<span sec:authorize="isAuthenticated()"></span>
	</div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
